<div class="col-md-12">
  <span><div class="col-md-6 line">
    <div>MYSQL</div>
    <table class="table table-bordered">
      <caption>  </caption>
      <thead>
      <tr>
        <th>Product ID</th>
        <th>Description</th>
        <th>Order Date</th>
        <th>User ID</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tbody  ng-repeat="result in q5.data">
      <tr>
        <td>{{result.ProductID}}</td>
        <td>{{result.Description}}</td>
        <td>{{result.OrderDate}}</td>
        <td>{{result.UserId}}</td>
        <td>{{result.quantity}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  </span>
  <span
    ><div class="col-md-6">
    <div>MONGO</div>

    <table class="table table-bordered">
      <caption>  </caption>
      <thead>
      <tr>
        <th>Product ID</th>
        <th>Description</th>
        <th>Order Date</th>
        <th>User ID</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tbody  ng-repeat="result in q5.mongoData">
      <tr>
        <td>{{result.orderDetails.productId}}</td>
        <td>{{result.orderDetails.description}}</td>
        <td>{{result.orderDate}}</td>
        <td>{{result.UserId}}</td>
        <td>{{result.orderDetails.quantity}}</td>
      </tr>
      </tbody>
    </table>
  </div></span>
</div>

